<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script>
  <title>Vue</title>
</head>
<body>
  <div class="wrapper">
    <form class="sample" v-if="formShow">
      <h2>Fill the feilds</h2>
      <label for="">
        Email
        <input v-model="mail"  type="email">
      </label>
      <label for="">
        Firstname
        <input v-model="name"  type="text">
      </label>
      <label for="">
        Lastname
        <input v-model="surname"  type="text">
      </label>
      <label for="">
        Phone
        <input v-model="phone"  type="text">
      </label>
      <label for="">
        Guests
        <button type="button" @click="addGuest">+</button>
        <ul>
          <li v-for="(guest, index) in guests">
            <h3 @click="removeGuest" :data-index="index">Guest {{index +1}}</h3>
            <input v-model="guests[index]" type="text" autofocus>
          </li>
        </ul>
      </label>
      <button class="btn" type="button" @click="sendData">Send data</button>
    </form>
    <div class="data" v-else>
      <h2>All done!</h2>
      <table>
        <tr >
          <td>Email:</td>
          <td>{{mail}}</td>
        </tr>
        <tr >
          <td>Name:</td>
          <td>{{name}}</td>
        </tr>
        <tr >
          <td>Surname:</td>
          <td>{{surname}}</td>
        </tr>
        <tr >
          <td>Phone:</td>
          <td>{{phone}}</td>
        </tr>
      </table>
      <h3>Guests:</h3>
      <ul>
        <li v-for="(guest, index) in guests">
          <h4 @click="removeGuest" :data-index="index">Guest {{index +1}}</h4>
          <p>{{guests[index]}}</p>
        </li>
      </ul>
    </div>
  </div>


  <script>
    var myVue = new Vue({
      el: '.wrapper',
      data: {
        mail: '',
        name: '',
        surname: '',
        phone: '',
        guests: [],
        formShow: true
      },
      methods: {
        addGuest() {
          var guest = '';
          this.guests.push(guest);
        },
        removeGuest(e) {
          var index = e.target.dataset.index;
          this.guests.splice(index, 1);
          // сомневаюсь в правильности такого решения, но работает же =)
        },
        sendData() {
          this.formShow = false;
        }
      }
    })
  </script>
  <style>
    .wrapper {
          width: 650px;
          margin: 0 auto;
    }
    form {
      width: 650px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    label {
      display: flex;
      margin: 30px;
      width: 590px;
    }

    input {
      width: 500px;
      margin-left: auto;
    }
    .btn {
      margin-left: auto;
      margin: auto;
    }
  </style>
</body>
</html>
